<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>
{{>menu}}
<div class="header">
    <br><p>{{tit}} {{errorStatus}}</p>
</div>
<div class="error">
    <br>{{errorMessage}}
</div>
{{>footer}}
</body>
</html>