<nav>
    <div class="main">

        <h3><a href="/" class="m">Home</a>
            <a href="/signIn" class="m">Sign in</a>
            <a href="/account" class="m">Profile</a></h3>
    </div>
</nav>