<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <meta charset="UTF-8-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>

{{>menu}}
<h3 class="head">
    <br><p>My account</p>
</h3>
<div class="info">
    <p>Personal information</p>
    <p>Login: {{login}}</p>
    <p>Email: {{email}}</p>
</div>

{{>footer}}

</body>
</html>