<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8-8">

    <link type="text/css" href="/css/style.css" rel="stylesheet">

</head>
<body>

{{>menu}}
<h3 class="head">
    <br><p>{{information}}</p>

<div class="info">
    <p>{{description}}</p>
    </div></h3>

{{>footer}}

</body>
</html>
